* {
				color:#212E53;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			body, html {
				height: 100%;
				font-family: 'Segoe UI', sans-serif;
			}
			body {
				display: grid;
				grid-template-rows: auto 1fr;
				grid-template-columns: 250px 1fr;
				grid-template-areas:
				"header header"
				"sidebar main";
				background: #fff0f5;
			}
			header {
				grid-area: header;
				background: #EBACA2;
				color: white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 5px 10px;
				font-size: 1.5em;
			}
			.headerG {
				display: flex;
				align-items: center;
			}
				.titre{
				margin-left: 5px;
			}
			.countdown {
				background: #BED3C3;
				color: #333;
				padding: 0.5em 1em;
				border: 2px dashed #ff69b4;
				border-radius: 10px;
				font-size: 1em;
			}
			.sidebar {
				grid-area: sidebar;
				background-color: #ffb6c1;
				display: flex;
				flex-direction: column;
				padding: 1em;
			}
			.sidebar button {
				background: none;
				border: none;
				padding: 8px 5px;
				text-align: left;
				font-size: 1em;
				cursor: pointer;
			}
			.sidebar button:hover {
				background-color: #ff69b4;
			}
			main {
				grid-area: main;
				padding: 1em;
				overflow: hidden;
				position: relative;
				background-color: #BED3C3;
			}
			.slider-section {
				display: none;
				position: relative;
				height: 100%;
			}
			.slider-section.active {
				display: block;
			}
			.slides {
				display: flex;
				transition: transform 0.5s ease;
				height: 100%;
				width: 100%;
			}
			.slides img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				flex-shrink: 0;
			}
			#map {
				width: 100%;
				height: 100%;
			}
			.actionicons {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 1rem;
				margin-bottom: 1rem;
			}

			.actionicons button {
				background-color: #f8f9fa;
				border: 1px solid;
				padding: 0.5rem 1rem;
				border-radius: 8px;
				font-size: 1rem;
				font-weight: bold;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
				transition: background-color 0.3s, box-shadow 0.3s;
			}
			/*#sauver { display: none; }*/
			.nav-button {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border: none;
				font-size: 2em;
				/*padding: 0.2em 0.5em;*/
				cursor: pointer;
				/*border-radius: 50%;*/
				user-select: none;
			}
			.nav-button:hover {
				background: #ff69b4;
				color: white;
			}
			.prev {
				left: 10px;
			}
			.next {
				right: 10px;
			}
			.save-warning {
				color: red;
				display: none;
				background-color: #f8f9fa;
				border: 1px solid;
				padding: 0.5rem 1rem;
				border-radius: 8px;
				font-size: 1rem;
				/*display: flex;
				align-items: center;*/
				gap: 0.5rem;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
				transition: background-color 0.3s, box-shadow 0.3s;
			}
			.donneesbase {
				    /*background: #fff;*/
				    padding: 8px;
				    border-radius: 12px;
				    box-shadow: 0 0 10px rgba(0,0,0,0.05);
				    overflow-x: auto;
			}	
			.donneesbase table {
				    width: 100%;
				    border-collapse: collapse;
				    background-color: #fff;
				    border-radius: 12px;
				    overflow: hidden;
			}	
			.donneesbase th {
				    background-color: #007bff;
				    color: white;
				    padding: 10px;
				    text-align: center;
				    font-weight: 600;
			}
				
			.donneesbase td {
			        padding: 8px;
			        border-bottom: 1px solid #eee;
			        font-size: 16px;
			        text-align: right;
			}
			      
			/* Alignement personnalisé par colonne */
			#tableContainer td:nth-child(2) {
				text-align: left; /* colonne "element" */
			}
			#tableContainer td:nth-child(3) {
			        text-align: center; /* colonne "administratif" */
			}
			#tasksContainer td {
			        text-align: center;
			}
			#tasksContainer td:nth-child(2),
			#tasksContainer td:nth-child(3),
			#tasksContainer td:nth-child(7) {
			        text-align: left;
			}
			.donneesbase td input {
				width: 100%;
				padding: 6px;
				border: 1px solid #ccc;
				border-radius: 4px;
				font-size: 14px;
			}
				
			.donneesbase td input:focus {
				    border-color: #007bff;
				    outline: none;
				    background-color: #f0f8ff;
			}
			#fileContainer {
				display: flex;
				flex-direction: row;
			}
			.filelist {
				width: auto;
				margin-right: 10px;
			}
			.fileshow {
				flex: 1;
				/*border: 1px solid #ccc;
				padding: 10px;*/
			}
			.countdown-group {
				display: none;
				background: #fff;
				color: #333;
				margin: 10px auto;
				padding: 0.5em 1.5em;
				border: 2px dashed #ff69b4;
				border-radius: 10px;
				width: fit-content;
				font-size: 2em;
			}
			@media (max-width: 1080px) {
				body {
					display: flex;
					flex-direction: column;
				}
				.sidebar {
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					width: 100%;
					padding: 0.5em;
					font-size: 2em;
				}
				.sidebar button {
					/*flex: 1;*/
					text-align: center;
					Width: auto;
				}
				main {
					flex: 1 1 auto; /* Ici, main prend tout l'espace restant */
					padding: 1em;
					margin-bottom:10px;
				}
				.countdown {
					display: none;
				}
				.countdown-group {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					margin-top: auto;
				}
				#mobhour {
					font-size: 40px;
					display: block;
					margin: auto;
					transition: transform 0.6s ease-in-out;
				}
			}
